
.img-product{
	border: #ebebeb 4px solid;
}
.text-buy{
	font-size: 30px;
}
.amount-product i:hover{
	transform: scale(1.3);
    transition: all 0.5s;
}
.btn-pay{
	border-radius: 30px;
}
.buy-product:hover button {
	transform: scale(1.05);
    transition: all 0.4s;
}